.taxoList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.taxoList .photoCount {
  font-size: 0.75em;
  color: #5b5750;
}
.taxoList.registrations, .taxoList.people {
  display: flex;
  flex-wrap: wrap;
}
.taxoList.registrations li, .taxoList.people li {
  border: 1px solid #5b5750;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
}
.photoListWrapper,
.ais-Hits-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.photoListWrapper {
  justify-content: center;
}

.photothumb,
.ais-Hits-item {
  border: 1px solid #5b5750;
  padding: 8px;
  margin: 8px;
  width: 100%;
}
.photothumb img,
.ais-Hits-item img {
  width: 100%;
}

@media (min-width: 481px) {
  .photothumb {
    width: 31%;
  }
}
@media (min-width: 769px) {
  .ais-Hits-item {
    width: 44%;
  }
  .photothumb {
    width: 23%;
  }
}
.comments {
  max-width: 800px;
  margin: 0 auto;
}
.comments h3 .small {
  font-size: 0.8em;
}
.comments .commentsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.comments .commentsList .commentWrapper {
  border: 1px solid #b0bbbf;
  border-radius: 8px;
  padding: 8px 8px 0;
  margin: 8px 0;
}
.comments .commentsList .commentWrapper .commentData {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.comments .commentsList .commentWrapper .commentData .author {
  font-weight: bold;
}
.comments .commentsList .commentWrapper .commentData .date {
  font-size: 0.8em;
}

.ais-Pagination-list .ais-Pagination-item {
  padding: 4px 8px;
  margin: 0 1px;
  border: 1px solid #9d5c63;
}
.ais-Pagination-list .ais-Pagination-item.ais-Pagination-item--selected {
  background-color: #9d5c63;
}
.ais-Pagination-list .ais-Pagination-item.ais-Pagination-item--selected .ais-Pagination-link {
  color: #ffffff;
}
.ais-Pagination-list .ais-Pagination-item.ais-Pagination-item--disabled .ais-Pagination-link {
  color: #b0bbbf;
}

h1 {
  text-align: center;
}

.pagePhoto .imagesWrapper {
  max-width: 800px;
  margin: 0 auto;
}
.pagePhoto .imagesWrapper .imageWrapper {
  margin: 0 auto 1em;
}
.pagePhoto .infoWrapper {
  max-width: 800px;
  margin: 0 auto;
}
.pagePhoto .infoWrapper h3,
.pagePhoto .infoWrapper h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.pagePhoto .infoWrapper .infoItem {
  padding: 1px 8px 8px;
  margin: 8px 0;
  border-radius: 8px;
  background-color: #d6d6d6;
}
.pagePhoto .infoWrapper .infoItem .infoList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.searchWrapper {
  display: flex;
  flex-wrap: nowrap;
}
.searchWrapper .left-panel {
  display: none;
}
.searchWrapper .left-panel .ais-HierarchicalMenu-count,
.searchWrapper .left-panel .ais-RefinementList-count {
  font-size: 0.75em;
  margin-left: 0.5em;
  color: #5b5750;
}
.searchWrapper .left-panel .ais-RefinementList-checkbox {
  width: auto;
}
@media (min-width: 481px) {
  .searchWrapper .left-panel {
    display: block;
  }
}
.searchWrapper .left-panel .ais-HierarchicalMenu-item--selected > div > .ais-HierarchicalMenu-link {
  font-weight: bold;
}
.searchWrapper .right-panel {
  width: 100%;
}
@media (min-width: 481px) {
  .searchWrapper .right-panel {
    width: 66%;
  }
}
.searchWrapper .right-panel .ais-SearchBox-form {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
}
.searchWrapper .right-panel .ais-SearchBox-form .ais-SearchBox-input {
  width: 80%;
  font-size: 1.6em;
  padding: 6px;
}
.searchWrapper .right-panel .ais-SearchBox-submitIcon,
.searchWrapper .right-panel .ais-SearchBox-resetIcon,
.searchWrapper .right-panel .ais-SearchBox-loadingIcon {
  width: 16px;
  height: 16px;
}

button.ais-ClearRefinements-button {
  padding: 4px;
  border: 1px solid #9d5c63;
}

/*# sourceMappingURL=styles.css.map */

/*
     FILE ARCHIVED ON 14:28:28 Dec 26, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:45:18 Feb 02, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.097
  exclusion.robots: 0.041
  exclusion.robots.policy: 0.026
  esindex: 0.015
  cdx.remote: 38.616
  LoadShardBlock: 296.657 (3)
  PetaboxLoader3.datanode: 243.882 (4)
  PetaboxLoader3.resolve: 406.751 (2)
  load_resource: 395.46
*/